<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/navigation %>
</header>

<main>
  <div>
    <h1>Overview</h1>
  </div>
  <br/>
  <br/>
  <%- include('../partials/singleService', {serviceRequests: allRequests, serviceConsumes: allConsumes}); %>
</main>
</body>
</html>
