<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/navigation %>
</header>

<main>
    <div>
        <h1>Model Overview</h1>
    </div>
    <br/>
    <br/>
    <%if (singleModel) { %>
        <%- include('../partials/model', {modelName: singleModelName, model: singleModel}); %>
    <% } else { %>
    <div>
        <% for(var m in models) { %>
        <%- include('../partials/model', {modelName: m, model: models[m]}); %>
        <% } %>
    </div>
    <% } %>
</main>

</body>
</html>
