<div class="well well-lg">
    <h3><%= modelName %></h3>
    <div><em>Type:</em> <%= model.type %></div>
    <div><em>Description:</em> <%= model.description %></div>
    <div><em>Properties:</em></div>
    <div class="grid-container">
        <% for(var prop in model.properties) { %>
        <div class="grid-item"><%- include('../partials/property', {property: model.properties[prop], propName: prop}); %></div>
        <% } %>
    </div>
</div>
</br>
</br>